<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Home</title>
</head>
<body style='background-color: orange;'>

    <h1>Blog Home</h1>
    <a href="{% url 'post_new' %}">New Post</a>

    <ul>
        
        {% for post in posts %}
            <li><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></li>
            <p>{{ post.date }}</p>
            <a href="{% url 'post_edit' post.id %}">Edit</a>
            <a href="{% url 'post_delete' post.id %}">Delete</a>
        {% endfor %}
            
    </ul>
    
</body>
</html>