<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ post.title }}</title>
</head>
<body style="background-color: orange;">

    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>
    <p>Posted on {{ post.date }}</p>

    <h2>Comments</h2>
    
    {% for comment in comments %}
        <div>
            <p><strong>{{ comment.name }}</strong> {{ comment.email }}</p>
            <p>{{ comment.text }}</p>
            <p>Added on {{ comment.date_added }}</p>
        </div>
    {% endfor %}

    <h2>Add a comment</h2>

    <form method="POST">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Add comment</button>
    </form>
        
    
</body>
</html>